/* fonts from google font */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;900&family=Mulish:wght@400;800&family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;600;700;800&display=swap");

/* shared styles */
.title-style {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}

.description-style {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1rem;
  font-weight: 400;
}

.btn-primary {
  width: 12rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
}

.body {
  font-family: "Mulish", sans-serif;
  padding: 3rem 12rem;
}

/* Header Section */
header {
  position: relative;
}

.header-img {
  width: 93.75rem;
  height: 34.25rem;
}

.header-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.header-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin: auto;
}

.header-des {
  width: 40rem;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.header-input-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 12%);
  display: inline-flex;
  padding: 1.5rem;
  align-items: flex-start;
  gap: 2.5rem;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.3);
}

::placeholder {
  padding-left: 1.25rem;
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
}

i.fa-solid.fa-chevron-down {
  position: relative;
  transform: translate(-80px, 16px);
}

.input-style {
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  background: #fff;
  user-select: auto;
  margin-left: auto;
  border: none;
}

i.fa-solid.fa-magnifying-glass {
  margin-right: 0.5rem;
}

/* main section starts */

/* popular section */

.popular-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.popular-content {
  width: 50rem;
}

.popular-img {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.popular-title {
  margin-bottom: 0px;
}

.popular-des {
  width: 36rem;
  margin: 1.5rem 0rem;
}

.popular-list {
  margin-left: -0.5rem;
  margin-bottom: 1rem;
  width: 36rem;
}

/* destination section */
.destination-container {
  margin-top: 4rem;
}

.destination-content {
  text-align: center;
}

.destination-title {
  margin-bottom: 0px;
}

.destination-des {
  margin-top: 1.5rem;
  width: 565px;
  margin-bottom: 2rem;
  padding: 0px 466px;
}

.destination-image-row-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.destination-image-row-1 img {
  width: 46rem;
  height: 20rem;
  flex-shrink: 0;
}

.destination-image-row-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.destination-image-row-2 img {
  width: 30rem;
  height: 18rem;
}

.destination-image-row-3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.destination-image-row-3 img {
  width: 46rem;
  height: 20rem;
}

/* choose section */
.choose-container {
  margin-top: 4rem;
}

.choose-div-1 {
  display: grid;
  grid-template-columns: repeat(2, 0.4fr);
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.choose-hotels {
  background-image: url("../assets/Images/back/Rectangle\ 7holet-back.png");
  background-repeat: no-repeat;
  width: 30.8rem;
  height: 13rem;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #e9cdcd;
}

.choose-icon-1 {}

.choose-map {
  background-image: url("../assets/Images/back/Rectangle\ 7service-back.png");
  background-repeat: no-repeat;
  width: 30.8rem;
  height: 13rem;
  padding: 2rem;
  border: 1px solid #e9cdcd;
  border-radius: 10px;
}

.choose-price {
  background-image: url("../assets/Images/back/Rectangle\ 7price-back.png");
  background-repeat: no-repeat;
  width: 30.8rem;
  height: 13rem;
  /* justify-content: center; */
  /* text-align: center; */
  margin: auto;
  padding: 2rem;
  border: 1px solid #e9cdcd;
  border-radius: 10px;
}

/* newsletter-section */
.newsletter-container {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  height: 26.5rem;
}

.newsletter-feedback {
  width: 28rem;
  height: auto;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 1rem 0rem 0rem 2rem;
  /* margin-top: inherit; */
  margin-right: 2rem;
}

.btn-subscribe {
  width: 89%;
}

.newsletter-inputs {
  display: block;
}

input[type="email"] {
  display: block;
  width: 82%;
  padding: 1rem;
  /* border-radius: 10px; */
  border: none;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin: 1rem 0px;
}

.Newsletter-title {
  font-size: 1.5rem;
}

.Newsletter-des {
  width: 75%;
}

.newsletter-heading {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #1313181a;
}

/* footer section start */
footer {
  background-image: url("../assets/Images/back/Rectangle\ 10footer\ background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding: 2rem 0rem;
}

.footer-content {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: -25px;

}

.footer-info {
  margin-bottom: 2.5rem;
}

.travel-style {
  color: #FF5400;
  font-family: Mulish;
  font-size: 2rem;
  font-weight: 800;
}

.footer-des {
  margin: 0rem auto 1.75rem auto;
  width: 48rem;
  color: #5A5A5D;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
}


.footer-logo {
  width: 2.5rem;
  height: 2.75rem;
}

footer hr {
  width: 60rem;
  height: 1px;
  background: rgb(112 112 112 / 81%);
}

.footer-rights {
  color: #131318;
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  margin-top: 3rem;
}

/* Resposive Design */



/* Mobile Devices */

.hide{
  display: none;
}


@media screen and (max-width:584px) {
  .body{

    padding: 0rem 0rem;
  }
  .header-info {
    transform: translate(-47%, -212%);
    width: 100%;
  }
  .header-img{
    width: 100%;
    border-radius: 23px;
   
  }
  .destination-image-row-2, .destination-image-row-1, .destination-image-row-3{
    flex-direction: column;
  
  }
  .destination-des{
    padding: 0px;
    width: 100%;
  }

  .destination-image-row-1 img{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
  }
  .destination-image-row-2 img{
    width: 100%;
 
    margin-bottom: 5px;
  }
  .destination-image-row-3 img{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }
  .choose-div-1{
    flex-direction: column;
    display: flex;
  }
  .choose-hotels, .choose-map, .choose-price{
    width: 19rem;
    height: 13rem;

  }
  .header-title{
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
  }
  .header-input-section{
    flex-direction: column;
    top: 17%;
    gap: 1rem;
    width: 77%;
    height: 57%;
    border-radius: 0.7rem

  }
  .header-des{
    width: 91%;
    font-size: 14px;
  }
  .input-style {
    width: 19rem;
    height: 4rem;
    margin-left: -7px;

  }
  .btn-primary{
    width: 19rem;
    height: 4rem;
    margin-left: -7px;
  }
  .special-style{
    margin-top: -32px;
  }
  .special-stylebtn{
    margin-top: -32px;
    margin-bottom: 1px;
  }
  .newsletter-container{
    flex-direction: column;
    height:auto;
    width: auto;
  }
  input[type="email"] {

    width: 82%;
  }
  .newsletter-feedback{
    width: 20rem;
    margin-bottom: 24px;
    margin-left: 10px;
  }
  .btn-subscribe{
    width: 94%;
    margin-left: -2px;
    height: 3rem;
    margin-bottom: 20px;
  }
  .newslatter-img img{
    width: 22.5rem;
    height: 20rem;
  
  }
  .newslatter-img
  {
    margin-left: 8px;
    margin-bottom: 20px;
  }
  .newsletter-heading{
    width: 92%;
  }
  .Newsletter-des{
    width: 100%;
    font-size: 0.8rem;
  }
  
  .footer-des{
    margin: 1rem auto 1.75rem auto;
    width: 300px;
  }
  footer{
    background-size: 327%;
  }
  footer hr
  {
    width: 23rem;
  }
  .body {
    padding: 5px;
  }

  .popular-container {
    flex-direction: column;
  }

  .popular-title {
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    margin-left: 10px;
  }

  .media-popular {
    width: 335px;
    padding-left: 10px;
    padding-right: 10px;
  }
.description-style li {
  margin-left: 1rem;
  margin-right: 3px;
}
  .popular-img {
    margin-top: 1rem;
    height: 342px;
    left: 20px;
    right: 20px;
    top: 1196px;
    bottom: 5891px;
  }


}
